body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 280px;
  background-color: #1F2937;
  color: white;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.links ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

/* First Row */

.first {
  display: flex;
  background-color: #1F2937;
  gap: 60px;
  color: white;
  padding: 120px 280px;
}

.hero {
  flex: 1 1 400px;
}

.hero h1 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: bolder;
}

.hero p {
  font-size: 18px;
  padding: 0;
  margin: 0 0 10px 0;
}

.hero button {
  padding: 8px 36px;
  border-radius: 8px;
  font-weight: bold;
  color: #F9FAF8;
  background-color: #3882F6;
}

.first .image {
  flex: 1 0 550px;
  min-height: 250px;
  background-color: #575757;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Second Row */

.second {
  padding: 50px 0;
}

.second h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  margin: 0 0 50px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 60px;
}

.card {
  width: 155px;
}

.card .image {
  height: 155px;
  border: 4px solid #3882F6;
  border-radius: 16px;
  background-color: transparent;
  margin-bottom: 10px;
}

.card .caption {
  text-align: center;
}

/* Third Row */

.third {
  background-color: #E5E7EB;
  padding: 120px 320px;
}

.third .quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.third p {
  padding: 0;
  margin: 0;
}

.third .person {
  text-align: right;
  font-size: 23px;
  font-weight: bold;
}

.footer {
  background-color: #1F2937;
  color: white;
}
